[user]
	name = Brian Pomerantz
	email = {{ if .work }}brian.pomerantz@imprivata.com{{ else }}br.pomerantz@gmail.com{{ end }}
[push]
	default = simple
	autoSetupRemote = true
[core]
	editor = vim
[init]
	defaultBranch = main
