Host leary-web
    Hostname learypost.ddns.net
    User brian
    IdentityFile ~/.ssh/leary

Host leary
    Hostname 192.168.1.196
    User brian
    IdentityFile ~/.ssh/leary

Host aws
    Hostname 3.17.209.6
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem

Host tetrakism
    Hostname tetrakism.org
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem

Host pihole
    Hostname 192.168.1.186
    User pi

Host github.com
    HostName github.com
    User git
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/trainerred151
    IdentitiesOnly yes

Host giftexchanger
    Hostname giftexchanger.org
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem

Host urbanbiking
    Hostname demo.urbanbiking.net
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem

Host pivpn
    Hostname 3.124.178.184
    User ubuntu
    IdentityFile ~/.ssh/PiVPN.pem

Host web
    Hostname 3.19.239.97
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem

Host belayer
    Hostname 192.168.1.196
    User belayer
    IdentityFile ~/.ssh/leary

Host chess-stockfish
    Hostname ec2-13-59-72-201.us-east-2.compute.amazonaws.com
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem

Host work
    Hostname 192.168.1.170
    User brianpomerantz
    IdentityFile ~/.ssh/id_rsa

Host ajax
    Hostname 192.168.1.162
    User brian
    IdentityFile ~/.ssh/id_rsa

Host ajax-web
    Hostname learypost.ddns.net
    Port 2222
    User brian
    IdentityFile ~/.ssh/id_rsa
