Host curry
    Hostname curry.astro.psu.edu
    User bbp114

Host aci-i
    Hostname aci-i.aci.ics.psu.edu
    User bbp114
    
Host aci-b
    Hostname aci-b.aci.ics.psu.edu
    User bbp114

Host arm
    Hostname armstrong.astro.psu.edu
    User bbp114

Host leary
    Hostname learypost.ddns.net
    User brian

Host aci-2
    Hostname aci-b-test.aci.ics.psu.edu
    User bbp114

Host maverick
    Hostname maverick.tacc.utexas.edu
    User bbp114
