Host curry
    Hostname curry.astro.psu.edu
    User bbp114
    ForwardX11 yes

Host aci-i
    Hostname aci-i.aci.ics.psu.edu
    User bbp114
    
Host aci-b
    Hostname aci-b.aci.ics.psu.edu
    User bbp114

Host arm
    Hostname armstrong.astro.psu.edu
    User bbp114

Host leary
    Hostname learypost.ddns.net
    User brian

Host maverick
    Hostname maverick.tacc.utexas.edu
    User bbp114

Host stampede
    Hostname stampede.tacc.utexas.edu
    User bbp114

Host stampede2
    Hostname stampede2.tacc.utexas.edu
    User bbp114

Host aws
    Hostname 3.17.209.6
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem

Host tetrakism
    Hostname tetrakism.org
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem

Host pihole
    Hostname 3.13.122.191
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem

Host factor
    Hostname 18.220.152.120
    User ubuntu
    IdentityFile ~/.ssh/factor.pem

Host personal.github.com
    HostName github.com
    User git
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/trainerred151
    IdentitiesOnly yes

Host maize.github.com
    HostName github.com
    User git
    PreferredAuthentications publickey
    IdentityFile ~/.ssh/id_rsa
    IdentitiesOnly yes

Host giftexchanger
    Hostname giftexchanger.org
    User ubuntu
    IdentityFile ~/.ssh/primegrid_aws.pem
