[tools]
python = "3.14.6"
chezmoi = "latest"
fastfetch = "latest"
hledger = "latest"
bat = "latest"
{{ if .work -}}
aws-cli = { version = "latest", symlink_bins = "true" }
kubectl = "latest"
zizmor = "latest"
direnv = "latest"
{{- end }}
